* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    background: #ffffff;
  }
  

  yes-btn {
     background: #fff;
     position: absolute;
     top: 50%;
    left: 55%;
    transform: translate(-50%, -55%);
  }

  button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%,  450%);
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    color: #fff;
    background: #000;
    cursor: pointer;
  }
  


  .content-msg {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #7cf502;
    font-family: 'Aclonica';
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    text-shadow: 2px 2px 10px black;
}
.content-msg h3 {
   color: #fc0595;
}

.content-msg h5 {
  position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #7cf502;
    font-family: 'Aclonica';
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    text-shadow: 2px 2px 10px black;
    color: cyan;
}
.content-msg h6 {
    color: cyan;
    text-align: right;
}


.content-msg a {
    color: black;
}

#imgs{
   position: absolute; 
   width: 100%;
   margin: 0 auto;
}